@font-face {
    font-family: 'NexaBold';
    src:url('font/NexaBold.ttf.woff') format('woff'),
        url('font/NexaBold.ttf.svg#NexaBold') format('svg'),
        url('font/NexaBold.ttf.eot'),
        url('font/NexaBold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


p {
	font-family: 'NexaBold';
}

/*----------  HEADER  ----------*/

header {
	display: flex;
	float: left;
	height: 50px;
	width: 100%; 
	position: fixed;
	padding-left: 10px;
	background: white;
	transition: background 0.2s ease-in;
	z-index: 10;
	border-bottom: 1px solid #e6e6e6;
}

header p {
	margin-left: 10px;
	margin-right: 10px;
	height: 50px;
	padding-top: 12.5px;
}

header a {
	color: #3d3d3d;
	text-decoration: none;
}

header a:hover {
	color: #3d3d3d;
	text-decoration: none;
}

/*----------  home presentation  ----------*/

#homePresentation {

	width: 100%;
	height: 700px;
	margin: auto;
	margin-top: 250px;
	text-align: center;
	z-index: 9999;
	background: url(img/mouse.svg) no-repeat left 50% bottom 50px;

}


#particles-js {
  background: white;
  position: fixed;
  z-index: -1;
  width: 100%;
  margin-top: -20px;
  height: auto;
}

#me_container {
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
}

#me_container img {
	border-radius: 50%;
	border: solid 3px #e6e6e6;
	margin-top: 50px;
}

#avatar {
	width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	top: -60px;
}

#avatar img {
	position: relative;
	border-radius: 50%;
	border: solid 1px #e6e6e6 ;
	width: 45px;
	margin: auto;
}

#me {
	color: white;
}

#homePresentation p {
	color: #3d3d3d;
	font-size: 1.5em;
}


.line {
	margin-left: auto;
	margin-right: auto;
	width: 0%;
}

/*----------  cursus  ----------*/

section {
	background: white;
	width: 100%;
	border-top: solid 1px white;
}

/*----------  compétences  ----------*/

#competence {
	position: absolute;
	top: 100px;
}

#competence > h2 {
	text-align: center;
}

.msrny {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.msrny .item {
	margin-top: 10px;
	perspective: 500px;
}
.msrny .item img {
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.msrny .item img:hover {
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.carousel-cell {
	width: 100%;
	display: flex;
}

.cell-container {
	width: 50%;
	height: 500px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.cell-container > div {
	height: 50px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.cell-container > div:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*----------  about   ----------*/

#about {
	perspective: 500px;
	margin: auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

#about #background {
	z-index: -1;
	position: absolute;
	margin-left: 5%;
	width: 90%;
}

 #background {
 	transition: transform 0.1s ease-in;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

 #about .read {

 	padding: 5px;
 	background: white;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 	font-size: 1.2em;
 	color: #2E2E2E;
 }

 #about .read:hover {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 #about_one {

 	position: relative;
 	top: 70px;
 	width: 750px;
 	height: 400px;
 	left: 8%;
 }

 #about_one p {
 	text-align: justify;
 }

 #about_one h3 {
 	text-align: center;
 }

#about_two {

 	position: absolute;
 	top: 480px;
 	width: 750px;
 	height: 400px;
 	right: 10%;
 }

 #about_two p {
 	text-align: justify;
 }

 #about_two h3 {
 	text-align: center;
 }

/*----------  footer  ----------*/

footer {
	display: flex;
	justify-content: space-between;
	background: #F6F6F6;
	height: 150px;
	padding-top: 10px;
}

footer div {
	width: 50%;
	text-align: center;
}

footer #social {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

footer #social i {
	font-size: 2em;
	color: #4E4E4E;
}

footer #contact {
	width: 50%;	
}